.Button {
    cursor : pointer;
    border : none;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    white-space: nowrap;
    font-family: 'Gaegu', sans-serif;
}


.Button_default {
    background-color: rgb(209, 179, 155);
    color: white;
}
.Button_positive {
    background-color: rgb(241, 203, 146);
    color:white;
}

.Button_negative {
    background-color: rgb(151, 137, 116);
    color:white;
}
