.Header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(202, 182, 127, 0.3);
}

.Header > div {
    display: flex;
}

.Header button {
    font-family: 'Gaegu', sans-serif;
}


.Header .HeaderTitle {
    width: 50%;
    font-size:35px;
    font-weight: bold;
    justify-content: center;
    
}
.Header .HeaderLeft {
    width: 25%;
    font-size:25px;
    justify-content: start;
}
.Header .HeaderRight {
    width: 25%;
    font-size:25px;
    justify-content: end;
}
